body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content-container {
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}

ul {
  list-style: none;
}

li {
  margin-bottom: .25rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-control {
  display:block;
  width:100%;
  height:calc(1.5em + .75rem + 2px);
  padding:.375rem .75rem;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-images-array {
  width: 50%;
  margin: .5rem;
  padding: .5rem;
  margin-left: 3rem;
}

.images-array-holder {
  max-height: 30vh;
  overflow-y: scroll;
}
