extends ../layout

block content
  h1= title

  ul
    each developer in developers_list
      li
        a(href=developer.url) #{developer.name}
        div Founded: 
            if  developer.founded
                span #{developer.date_founded_formatted}
            else 
                span No Data

    else
      li There are no developers.
